@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {
    font-family: 'Happy Monkey', cursive;
    margin: 0;
}

header {
    margin: 0 auto;
    text-align: center;
}

.functions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
}

button {
    font-family: 'Happy Monkey', cursive;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    align-self: center;
    justify-content: center;
    border: 10px solid black;
    width: 100px;
    height: 100px;
}