@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,500&display=swap');

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #BC4749;
    background-image: linear-gradient(to bottom right, #BC4749, #F2E8CF);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h1 {
    margin: 0;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #F2E8CF;
    padding: 10px 0;
    font-size: 24px;
}

.sizes,
.functions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 10px;
}

.rainbowmode:hover {
    background-image: linear-gradient(to right, red,yellow,green,blue,indigo);
    color: white;
    background-color: #6A994E;
}

.reset:hover {
    background-color: red;
}

button {
    font-family: 'DM Sans', sans-serif;
    border-radius: 18px;
    padding: 0 10px;
    font-size: 16px;
}

button {
    background-color: #A7C957;
    border: 2px solid #F2E8CF;
}


.bx {
    padding: 2px;
}

button:hover {
    background-color: #6A994E;
}

main {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.container {
    margin-bottom: 3px;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 10px double #6A994E;
    border-radius: 20px;
    width: 320px;
    height: 320px;
    background-color: #F2E8CF;
}