@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');


body {
    margin: 0;
    font-family: 'Happy Monkey', cursive;
    background-color: #6F1D1B;
}

h1 {
    margin: 0;
}

header {
    margin: 0 auto;
    text-align: center;
    background-color: #6F1D1B;
    border-bottom: 10px ridge darkred;
    color: yellow;
    padding: 10px 0;
    font-size: 24px;
}

.sizes,
.functions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 10px;
}

button {
    font-family: 'Happy Monkey', cursive;
    border-radius: 18px;
    padding: 0 10px;
    font-size: 16px;
}

.sizes button {
    background-color: #FFE6A7;
    border: 2px ridge #FFE6A7;
}

.functions button {
    background-color: #FFE6A7;
    border: 2px ridge #FFE6A7;
}

.bx {
    padding: 2px;
}

button:hover {
    background-color: gray;
    border-color: gray;
}

main {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 10px double #6F1D1B;
    border-radius: 20px;
    width: 320px;
    height: 320px;
    background-color: gray;
}